body {
    background-color: #111;
}

#main-img-wrapper {
    padding-top: 139px;
    text-align: center;
}

#intro-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 54px auto 140px;
    font-size: 40px;
    font-weight: 500;
    gap: 20px;
}

#intro-main > p {
    text-align: center;
}

#intro-main > #join-us-text {
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    margin-top: 73px;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#intro-main > #down-arrow-icon {
    width: 33px;
    animation: upAndDown 1s infinite;
}

#list-item-wrapper {
    width: 500px;
    margin: 0 auto 500px;
}

.list-item {
    display: inline;
    font-size: 48px;
    font-weight: 600;
}

.list-item::before {
    display: inline-block;
    background-image: url(./assets/dark_house.png);
    background-size: 51px 53px;
    content: "";
    width: 51px;
    height: 53px;
}

.list-item#on {
    color: #fff;
}
.list-item#on::before {
    background-image: url(./assets/light_house.png);
}

#panel1-img {
    margin-bottom: 500px;
    position: relative;
    height: 340px;
    overflow: hidden;
}

#panel1-img > #flying-santa-img {
    height: 320px;
    position: absolute;
    right: -80px;
    transform: translate(80px, -13px) rotate(23deg);
}
