* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
body {
    color: #fff;
    font-family: "NexonLv1Gothic";
    font-weight: 300;
    background-color: #111;
}
#parallax__title {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1000;
}
#parallax__title h1 {
    font-size: 30px;
    border-bottom: 1px dashed #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 400;
    display: inline-block;
}
#parallax__title p {
    font-size: 16px;
}
#parallax__title ul {
    margin-top: 10px;
}
#parallax__title li {
    display: inline;
}
#parallax__title li a {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px dashed #fff;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
#parallax__title li.active a {
    background: #fff;
    color: #000;
}

/* parallax__cont */
#parallax__cont {
    max-width: 1600px;
    width: 98%;
    margin: 0 auto;
    /* background-color: rgba(255,255,255,0.1); */
}
.parallax__item {
    width: 1000px;
    max-width: 70vw;
    margin: 30vw auto;
    /* background-color: rgba(255,255,255,0.3); */
    text-align: left;
    margin-right: 0;
    position: relative;
    padding-top: 15vw;
}
.parallax__item:nth-child(even) {
    margin-left: 0;
    text-align: right;
}
.parallax__item__num {
    font-size: 35vw;
    position: absolute;
    left: -5vw;
    top: -13vw;
    opacity: 0.07;
    font-family: "Lato";
    font-weight: 100;
}
.parallax__item:nth-child(even) .parallax__item__num {
    left: auto;
    right: -5vw;
}
.parallax__item__title {
    padding-bottom: 5px;
    font-weight: 400;
}
.parallax__item__imgWrap {
    width: 100%;
    padding-bottom: 56.25%;
    background: #000;
    position: relative;
    overflow: hidden;
}
.parallax__item__img {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: saturate(0%);
    transition: all 1s;
}
.parallax__item__img:hover {
    filter: saturate(100%);
    transform: scale(1.025);
}
#section1 .parallax__item__img {
    background-image: url("https://images.unsplash.com/photo-1619995745882-f4128ac82ad6?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#section2 .parallax__item__img {
    background-image: url("https://images.unsplash.com/photo-1649336321305-3fe272852c94?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#section3 .parallax__item__img {
    background-image: url("https://images.unsplash.com/photo-1651974041649-e08cf7d854a1?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#section4 .parallax__item__img {
    background-image: url("https://images.unsplash.com/photo-1693292325435-ce1823a5b09e?q=80&w=2192&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#section5 .parallax__item__img {
    background-image: url("https://images.unsplash.com/photo-1649770638727-6056d269d587?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#section6 .parallax__item__img {
    background-image: url("https://images.unsplash.com/photo-1649770637836-4cb2971a17db?q=80&w=2433&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#section7 .parallax__item__img {
    background-image: url("https://images.unsplash.com/photo-1629451565902-4c40a51b374e?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#section8 .parallax__item__img {
    background-image: url("https://images.unsplash.com/photo-1703574915891-447a61e14896?q=80&w=2148&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
#section9 .parallax__item__img {
    background-image: url("https://images.unsplash.com/photo-1649336320659-f9f8da5ee1ca?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.parallax__item__desc {
    font-size: 4vw;
    line-height: 1.4;
    margin-top: -5vw;
    margin-left: -4vw;
    z-index: 100;
    position: relative;
}
.parallax__item:nth-child(even) .parallax__item__desc {
    margin-left: auto;
    margin-right: -4vw;
}

.parallax__progress progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
    height: 5px;
    border: none;
    background: transparent;
}

progress::-webkit-progress-bar {
    background: transparent;
}

/* chrome, safari */
progress::-webkit-progress-value {
    background: linear-gradient(
        to left,
        #db38b5,
        #01b3e3,
        #25ce7b,
        #fdc741,
        #ff6b01,
        #fc4236
    );
    background-attachment: fixed;
}

/* firefox */
progress::-moz-progress-bar {
    background: linear-gradient(
        to left,
        #db38b5,
        #01b3e3,
        #25ce7b,
        #fdc741,
        #ff6b01,
        #fc4236
    );
    background-attachment: fixed;
}
